<p><strong><%= comment.commenter %></strong> writes:
  <%= comment.body %>
  <%= link_to 'Destroy', [comment.article, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
</p>
